<body>
    <button onclick="window.location.reload()">Run Program</button>
    <div id="terminal"></div>

    <script>
        var term = new Terminal({
            cols: 80,
            rows: 24
        });
        term.open(document.getElementById('terminal'));
        term.writeln('Running startup command: python3 run.py');
        // tells what to be printed
        var currentIndex = 0;

        //function to print typewriter effect
        function printText() {
            if (currentIndex < textToPrint.length) {
                term.write(textToPrint.charAt(currentIndex));
                currentIndex++;
                setTimeout(printText, 2); // Delay of 2ms between characters
            }
        }
        // prints the defined text
        printText();

        // stop it from automatically scrolling to the bottom of text
        term.scrollToBottom = function () { };

        var ws = new WebSocket(location.protocol.replace('http', 'ws') + '//' + location.hostname + (location.port ? (
            ':' + location.port) : '') + '/');

        ws.onopen = function () {
            new attach.attach(term, ws);
        };

        ws.onerror = function (e) {
            console.log(e);
        };
        // Set focus in the terminal
        document.getElementsByClassName("xterm-helper-textarea")[0].focus();
    </script>
</body>